<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${title}"></title>
</head>
<body>
	<h2>Login</h2>
	<!-- Form will be handled by login page, no need to put action attribute because it is assumed -->
	<h4 th:text="${loginError}"></h4>
	<form method="post" th:object="${user}">
	
		<div>
			<label th:for="email">Email: </label>
			<input type="email" th:field="*{email}"/>
		</div>
		
		<div>
			<label th:for="password">Password: </label>
			<input type="password" th:field="*{password}"/>
		</div>
		
		<input type="submit" value = "Login"/>
		
		<p>Don't have an account? Let's<a th:href="@{register}"> Create an account</a></p>
		<p>Forgot your password? Let's <a th:href="@{forgotPassword}">reset your password</a></p>
		
	</form>
</body>
</html>